<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>Familiares</title>
</head>
<body>


        <p>El nombre del familiar es {{familiar_1.nombre}} {{familiar_1.apellido}}</p>
        <p>La edad del familiar es {{familiar_1.edad}}</p>
        <p>La fecha de nacimiento del familiar es {{familiar_1.fecha_nacimiento}}</p>
        <p>El parentesco del familiar es {{familiar_1.parentesco}}</p>

        <p>El nombre del familiar es {{familiar_2.nombre}} {{familiar_2.apellido}}</p>
        <p>La edad del familiar es {{familiar_2.edad}}</p>
        <p>La fecha de nacimiento del familiar es {{familiar_2.fecha_nacimiento}}</p>
        <p>El parentesco del familiar es {{familiar_2.parentesco}}</p>

        <p>El nombre del familiar es {{familiar_3.nombre}} {{familiar_3.apellido}}</p>
        <p>La edad del familiar es {{familiar_3.edad}}</p>
        <p>La fecha de nacimiento del familiar es {{familiar_3.fecha_nacimiento}}</p>
        <p>El parentesco del familiar es {{familiar_3.parentesco}}</p>
    
</body>
</html>